.import-project-selector-github
    div(ng-include="'projects/create/import/import-header.html'")
    
    .import-project-selector
    
        .import-project-selector-service
            img(
                src="/#{v}/images/import-logos/github.png"
                alt="Github Logo"
            )
        .import-project-selector-boards
            form.import-project-selector-filter(ng-if="vm.projects.size > 5")
                input(
                    ng-model="vm.searchText"
                    placeholder="{{ 'PROJECT.IMPORT.GITHUB.CHOOSE_BOARD' | translate }}"
                )
                tg-svg(
                    svg-icon="icon-search"
                    title="{{'SEARCH.TITLE_ACTION_SEARCH' | translate}}"
                )
                
            ul.import-project-board-list
                li.import-project-selector-title(
                    ng-repeat="project in vm.projects | toMutable | orderBy:'name' | filter:vm.searchText track by project.id"
                    ng-click="vm.selectProject(project)"
                ) {{project.name}}
        
            .create-project-action
                button.trans-button.create-project-action-cancel(
                    type="button"
                    ng-click="vm.onCancel()"
                    title="{{'COMMON.CANCEL' | translate}}"
                    translate="COMMON.CANCEL"
                )
