.import-project-github-form
    div(ng-include="'projects/create/import/import-header.html'")

    form
        fieldset
            label(
                translate="PROJECT.COMMON.DETAILS"
                for="project-name"
            )
            input(
                type="text"
                ng-model="vm.projectForm.name"
                placeholder="{{'PROJECT.COMMON.PROJECT_TITLE' | translate}}"
                name="project-name"
                data-required="true"
                required
            )
        fieldset
            textarea(
                ng-model="vm.projectForm.description"
                placeholder="{{'PROJECT.COMMON.PROJECT_DESCRIPTION' | translate}}"
                data-required="true"
                required
            )

        p(
            ng-if="!vm.canCreatePrivateProjects"
            translate="PROJECT.CREATE.MAX_PRIVATE_PROJECTS"
        )

        .create-project-privacity(role="group")
            fieldset
                input(
                    type="radio"
                    name="is_private"
                    id="template-public"
                    data-required="true"
                    aria-hidden="true"
                    ng-value="false"
                    ng-model="vm.projectForm.is_private"
                    required
                    ng-disabled="!vm.canCreatePublicProjects"
                    ng-checked="vm.canCreatePublicProjects"
                )
                label(for="template-public")
                    tg-svg(svg-icon="icon-discover")
                    span(translate="PROJECT.CREATE.PUBLIC_PROJECT")
            fieldset
                input(
                    type="radio"
                    name="is_private"
                    id="template-private"
                    data-required="true"
                    ng-value="true"
                    ng-model="vm.projectForm.is_private"
                    aria-hidden="true"
                    required
                    ng-disabled="!vm.canCreatePrivateProjects"
                    ng-checked="!vm.canCreatePublicProjects"
                )
                label(for="template-private")
                    tg-svg(svg-icon="icon-lock")
                    span(translate="PROJECT.CREATE.PRIVATE_PROJECT")

        .create-project-github-import-type(role="group")
            p.question(translate="PROJECT.IMPORT.GITHUB.HOW_DO_YOU_WANT_TO_IMPORT")
            .create-project-github-import-type-question
                fieldset
                        input(
                            type="radio"
                            name="project_type"
                            id="template-issues"
                            data-required="true"
                            aria-hidden="true"
                            ng-value="'issues'"
                            ng-model="vm.projectForm.project_type"
                            required
                        )
                        label(for="template-issues")
                            span.create-project-github-import-type-name(translate="PROJECT.IMPORT.GITHUB.ISSUES_PROJECT")
                            p.create-project-github-import-type-description(translate="PROJECT.IMPORT.GITHUB.ISSUES_PROJECT_DESCRIPTION")
                fieldset
                        input(
                            type="radio"
                            name="project_type"
                            id="template-scrum"
                            data-required="true"
                            aria-hidden="true"
                            ng-value="'scrum'"
                            ng-model="vm.projectForm.project_type"
                            required
                        )
                        label(for="template-scrum")
                            span.create-project-github-import-type-name(translate="PROJECT.IMPORT.GITHUB.SCRUM_PROJECT")
                            p.create-project-github-import-type-description(translate="PROJECT.IMPORT.GITHUB.SCRUM_PROJECT_DESCRIPTION")
                fieldset
                        input(
                            type="radio"
                            name="project_type"
                            id="template-kanban"
                            data-required="true"
                            aria-hidden="true"
                            ng-value="'kanban'"
                            ng-model="vm.projectForm.project_type"
                            required
                        )
                        label(for="template-kanban")
                            span.create-project-github-import-type-name(translate="PROJECT.IMPORT.GITHUB.KANBAN_PROJECT")
                            p.create-project-github-import-type-description(translate="PROJECT.IMPORT.GITHUB.KANBAN_PROJECT_DESCRIPTION")

        fieldset.create-project-check
            label(for="links")
                span.title {{'PROJECT.IMPORT.GITHUB.LINKS' | translate}}
                span.description {{'PROJECT.IMPORT.GITHUB.LINKS_DESCRIPTION' | translate}}

            .check
                input.activate-input(
                    ng-model="vm.projectForm.keepExternalReference"
                    name="links"
                    type="checkbox"
                )
                div
                span.check-text.check-yes(translate="COMMON.YES")
                span.check-text.check-no(translate="COMMON.NO")

        .create-project-action
            button.trans-button.create-project-action-cancel(
                type="button"
                ng-click="vm.onCancelProjectDuplication()"
                title="{{'PROJECT.CREATE.BACK' | translate}}"
                translate="PROJECT.CREATE.BACK"
            )
            button.button-green.create-project-action-submit(
                type="submit"
                ng-click="vm.saveProjectDetails(vm.projectForm)"
                title="{{'PROJECT.CREATE.TITLE' | translate}}"
                ng-disabled="!vm.projectForm.name || !vm.projectForm.description"
                tg-loading="vm.loading"
                translate="PROJECT.CREATE.TITLE"
            )
