.jira-import-project-members
    div(ng-include="'projects/create/import/import-header.html'")

    h2.jira-import-project-members-title(translate="PROJECT.IMPORT.JIRA.PROJECT_MEMBERS")
    p(translate="PROJECT.IMPORT.JIRA.PROCESS_DESCRIPTION")

    .spin(tg-loading="!!!vm.members.size")
    
    .jira-import-project-members-system(ng-if="vm.members.size")
        .jira-import-project-members-logo
            img(
                src="/#{v}/images/import-logos/jira.png"
                alt="Jira Logo"
            )
        .jira-import-project-members-logo
            img(
                src="/#{v}/images/logo-color.png"
                alt="Taiga Logo"
            )
    ul(ng-if="vm.members.size")
        li.jira-import-project-members-row(tg-repeat="member in vm.members track by member.get('id')")
            .jira-import-project-members-single
                .avatar.empty {{member.get('full_name')[0].toUpperCase()}}
                span.jira-import-project-members-username {{member.get('full_name')}}

            .jira-import-project-members-actions
                .jira-import-project-members-match(ng-if="member.get('user') && vm.cancelledUsers.indexOf(member.get('id')) === -1 && !vm.isMemberSelected(member)")
                    span(
                        translate="PROJECT.IMPORT.JIRA.MATCH"
                        translate-values="{user_external:member.get('full_name'), user_internal: vm.getUser(member).get('full_name')}"
                    )
                    button.jira-import-project-members-match-true(ng-click="vm.confirmUser(member, member.get('user'))")
                        tg-svg(svg-icon="icon-check-empty")
                    button.jira-import-project-members-match-false(ng-click="vm.cleanUser(member)")
                        tg-svg(svg-icon="icon-close")

                .jira-import-project-members-selected(ng-if="vm.getUser(member)") 
                    span {{vm.getUser(member).get('full_name')}}
                    span.jira-import-project-members-selected-img
                        img(tg-avatar="vm.getUser(member)")

                button.button.button-trans.jira-import-project-members-choose(
                    ng-if="(!member.get('user') || vm.cancelledUsers.indexOf(member.get('id')) !== -1) && !vm.isMemberSelected(member)"
                    ng-click="vm.searchUser(member)"
                    translate="PROJECT.IMPORT.JIRA.CHOOSE"
                )

    button.button.button-green.jira-import-project-members-submit(
        ng-if="vm.members.size > 0"
        ng-click="vm.beforeSubmitUsers()"
        translate="PROJECT.IMPORT.IMPORT"
    )

    tg-select-import-user-lightbox.lightbox(
       visible="vm.selectImportUserLightbox"
       on-close="vm.selectImportUserLightbox = false"
       user="vm.searchingUser"
       on-select-user="vm.confirmUser(user, taigaUser)"
    )

    tg-warning-user-import-lightbox.lightbox(
        visible="vm.warningImportUsers"
        on-confirm="vm.submit()"
        on-close="vm.warningImportUsers = false"
    )
