.create-project.import-project(ng-if="!vm.from")
    div(ng-include="'projects/create/import/import-header.html'")
            
    ul.import-project-from
        li.import-project-from-site
            .import-project-logo
                img(
                    src="/#{v}/images/logo-color.png"
                    alt="Taiga Logo"
                )
            .import-project-name-wrapper
                a.import-project-name(
                    href="#"
                    title="Taiga"
                ) Taiga
                p.import-project-description(translate="PROJECT.IMPORT.TAIGA.SELECTOR")
        li.import-project-from-site(ng-click="vm.select('trello')")
            .import-project-logo
                img(
                    src="/#{v}/images/import-logos/trello.png"
                    alt="Trello Logo"
                )
            .import-project-name-wrapper
                a.import-project-name(
                    href="#"
                    title="Trello"
                ) Trello
                p.import-project-description(translate="PROJECT.IMPORT.TRELLO.SELECTOR")
        li.import-project-from-site(ng-click="vm.unfoldOptions('jira')")
            .import-project-logo
                img(
                    src="/#{v}/images/import-logos/jira.png"
                    alt="Jira Logo"
                )
            .import-project-name-wrapper
                a.import-project-name(
                    href="#"
                    title="Jira"
                ) Jira
                p.import-project-description(translate="PROJECT.IMPORT.JIRA.SELECTOR")
                fieldset.import-project-url(ng-if="vm.unfoldedOptions == 'jira'")
                    label(
                        for="jira-host"
                        translate="PROJECT.IMPORT.JIRA.URL"
                    )
                    input.import-project-input(
                        id="jira-host"
                        ng-model="vm.jiraUrl"
                    )
                    button.button-green.import-project-button(
                        ng-click="vm.select('jira')"
                        title="{{'PROJECT.IMPORT.ACCEEDE' | translate}}"
                        translate="PROJECT.IMPORT.ACCEEDE"
                    )
        li.import-project-from-site(ng-click="vm.select('github')")
            .import-project-logo
                img(
                    src="/#{v}/images/import-logos/github.png"
                    alt="Github Logo"
                )
            .import-project-name-wrapper
                a.import-project-name(
                    href="#"
                    title="Github"
                ) Github
                p.import-project-description(translate="PROJECT.IMPORT.GITHUB.SELECTOR")
        
    .create-project-action
        button.trans-button.create-project-action-back(
            type="button"
            ng-click="vm.cancelImport()"
            title="{{'PROJECT.CREATE.BACK' | translate}}"
            translate="PROJECT.CREATE.BACK"
        )

tg-trello-import(
    ng-if="vm.from == 'trello'"
    on-cancel="vm.cancelImporter()"
)
tg-jira-import(
    ng-if="vm.from == 'jira'"
    on-cancel="vm.cancelImporter()"
)
tg-github-import(
    ng-if="vm.from == 'github'"
    on-cancel="vm.cancelImporter()"
)
