.create-project.import-project(ng-if="!vm.from")
    div(ng-include="'projects/create/import/import-header.html'")

    section.import-project-from
        h1
            tg-svg(svg-icon="icon-upload")
            span(translate="PROJECT.IMPORT.IMPORT")
        ul
            li
                .import-project-from-site Taiga
            li
                .import-project-from-site(ng-click="vm.select('trello')") Trello
            li
                .import-project-from-site(ng-click="vm.unfoldOptions('jira')") Jira
                div(ng-if="vm.unfoldedOptions == 'jira'")
                  label(for="jira-host") Tu URL de Jira
                  input(id="jira-host", ng-model="vm.jiraUrl")
                  input(type="button", value="Acceder", ng-click="vm.select('jira')")
            li
                .import-project-from-site(ng-click="vm.select('github')") Github


        a.back(href="#" ng-click="vm.cancelImport()") < {{'PROJECT.CREATE.BACK' | translate}}


tg-trello-import(
    ng-if="vm.from == 'trello'"
    on-cancel="vm.cancelImporter()"
)
tg-jira-import(
    ng-if="vm.from == 'jira'"
    on-cancel="vm.cancel()"
)
tg-github-import(
    ng-if="vm.from == 'github'"
    on-cancel="vm.cancel()"
)
